	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/02/2021 09:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-menu:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-shopping-cart:before { content: "\f102"; }
.flaticon-cactus:before { content: "\f103"; }
.flaticon-cactus-1:before { content: "\f104"; }
.flaticon-sapling:before { content: "\f105"; }
.flaticon-forward:before { content: "\f106"; }
.flaticon-heart:before { content: "\f107"; }
.flaticon-visibility:before { content: "\f108"; }
.flaticon-delivery-truck:before { content: "\f109"; }
.flaticon-gift-box:before { content: "\f10a"; }
.flaticon-exchange:before { content: "\f10b"; }
.flaticon-telephone:before { content: "\f10c"; }